body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 330px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input, select, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #4CAF50;
    color: white;
    cursor: pointer;
}

.erro {
    color: red;
}
.container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px #0002;
}

.container th, .container td {
    padding: 12px 15px;
    text-align: left;
}

.container th {
    background-color: #28a745;
    color: #fff;
}

.container tr:nth-child(even) {
    background-color: #f3f3f3;
}
